.help-container {
  background-color: #f5f6fb;
  z-index: 1;
  top: 0;
  width: auto;
  height: 100vh;
  /* overflow-y: auto; */
  /* display: flex; */
  /* flex-direction: column; */
  border-radius: 5px;
  padding: 20px;
  }
  /* .right-sidebar[_ngcontent-ng-c3628421862] {
    width: 25%;
    background-color: #f5f6fb;
    padding: 10px;
} */