.sidenav {
  background-color: #f5f6fb;
  z-index: 1;
  top: 0;
  width: 15rem;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 20px;
}

.menu-items-noncollapsed {
  position: relative;
  margin: 20px 0;
  text-align: left;
}

.sidenav-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.sidenav-nav-item {
  margin: 10px 0;
  width: 100%;
}

.sidenav-nav-item a {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  text-decoration: none;
  color: #333;
  border-radius: 4px;
  /* transition: background 0.3s ease; */
}

.sidenav-nav-item a:hover {
  background-color: #e9ecef;
}

.sidenav-nav-item a mat-icon {
  font-size: 24px;
  margin-right: 15px;
  color: #007bff;
}

.sidenav-nav-item a span {
  font-size: 16px;
  font-weight: 500;
  color: #343a40;
}

.mat-icon {

  overflow: visible !important;
}
.active-item {
  color: red;
  font-weight: bold;
}


.sidenav-nav-item.disabled {
  pointer-events: none; /* Prevents click events */
  opacity: 0.5; /* Makes the item look disabled */
  cursor: not-allowed; /* Changes the cursor to indicate it’s disabled */
}
